.statsSection {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  margin-bottom: 20px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.statValue {
  font-weight: 600;
}

.statLabel {
  color: #8e8e8e;
}
